.logo-group {
    font-family: 'Montserrat', sans-serif;
    height: 20vh;
}

.tagline {
    height: 8vh;
    font-weight: lighter;
}

.arrival {
    height:40vh;
    font-family: 'Esteban', serif;
    font-size: 0.8em;
}

.sign-up {
    color:  #67727A;
    font-family: Monserrat;
}

.sign-up .clear input {
   background-color:  #67727A !important;
}


@media ( max-width: 336px ){
    .logo-group {
        height: 5vh;
    }
}

